***Exercise***:

ENG:
Use and experience methods from previous lessons with given data. Try to search for other pandas methods to analyze the data such as groupby() and read_csv().

TR:
Verilen datalar ile önceki derslerdeki metodları kullanın ve deneyimleyin. Verileri analiz etmek için groupby() ve read_csv() gibi diğer pandas metodlarını aramayı deneyin.

***Solution:***

**Veri Okuma Yöntemleri**
- dataset = pd.read_csv('Dosya_Yolu\Data_Name.csv') # Pc'de IDE'nizde bu şekilde okuyabilirsiniz.
- dataset.to_csv('Data_Name') # Datayı tekrardan csv'ye dönüştürebilmek 
- excelset = pd.read_excel('Excels_Name.xlsx') # Excel Dosyasını okumak 
- excelset.to_excel('excelnewfile.xlsx') # Excel dosyasına çevirme
- New = pd.read_html(' Datasetin urlsi.html') # İnternette ki bir veriyi okumak

In [96]:
#kütüphaneler import edildi
import pandas as pd
import numpy as np

In [97]:
#veriler alındı
data_confirmed = pd.read_csv("D:/Project/AdaLovelaceAkademi/week-2/data/time_series_covid19_confirmed_global.csv")
data_deaths = pd.read_csv("D:/Project/AdaLovelaceAkademi/week-2/data/time_series_covid19_deaths_global.csv")
data_recovered = pd.read_csv("D:/Project/AdaLovelaceAkademi/week-2/data/time_series_covid19_recovered_global.csv")

In [98]:
data_confirmed.head(5) #onaylı hasta verileri

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142

In [99]:
data_deaths.head()#ölen hasta verileri

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6

In [100]:
data_recovered.head()#kurtarılan hasta verileri

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64

In [101]:
data_confirmed.info() #data hakkında bilgi

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Columns: 150 entries, Province/State to 6/15/20
dtypes: float64(2), int64(146), object(2)
memory usage: 311.8+ KB

In [102]:
data_deaths.columns #kolon isimleri

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '6/6/20', '6/7/20', '6/8/20', '6/9/20', '6/10/20', '6/11/20', '6/12/20',
       '6/13/20', '6/14/20', '6/15/20'],
      dtype='object', length=150)

In [103]:
data_deaths["Country/Region"] #tek bir kolonu gtirmek

0                Afghanistan
1                    Albania
2                    Algeria
3                    Andorra
4                     Angola
               ...
261    Sao Tome and Principe
262                    Yemen
263                  Comoros
264               Tajikistan
265                  Lesotho
Name: Country/Region, Length: 266, dtype: object

In [104]:
#Ülkelere göre 6/6/20 tarihinde ölüm ortalamaları
data_deaths.groupby('Country/Region')['6/6/20'].mean()

Country/Region
Afghanistan           327.0
Albania                34.0
Algeria               698.0
Andorra                51.0
Angola                  4.0
                      ...
West Bank and Gaza      3.0
Western Sahara          1.0
Yemen                 111.0
Zambia                  7.0
Zimbabwe                4.0
Name: 6/6/20, Length: 188, dtype: float64

In [105]:
data_recovered.groupby('Country/Region').get_group('China')

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
40,Anhui,China,31.8257,117.2264,0,0,0,0,0,0,...,985,985,985,985,985,985,985,985,985,985
41,Beijing,China,40.1824,116.4142,0,0,1,2,2,2,...,583,583,584,584,584,584,584,584,584,584
42,Chongqing,China,30.0572,107.8740,0,0,0,0,0,0,...,573,573,573,573,573,573,573,573,573,573
43,Fujian,China,26.0789,117.9874,0,0,0,0,0,0,...,356,356,356,356,356,356,356,356,356,356
44,Gansu,China,37.8099,101.0583,0,0,0,0,0,0,...,137,137,137,137,137,137,137,137,137,137
45,Guangdong,China,23.3417,113.4244,0,2,2,2,2,4,...,1584,1585,1586,1587,1588,1589,1590,1590,1590,1592
46,Guangxi,China,23.8298,108.7881,0,0,0,0,0,0,...,252,252,252,252,252,252,252,252,252,252
47,Guizhou,China,26.8154,106.8748,0,0,0,0,0,0,...,145,145,145,145,145,145,145,145,145,145
48,Hainan,China,19.1959,109.7453,0,0,0,0,0,0,...,162,162,162,162,162,162,162,162,162,163
49,Hebei,China,39.5490,116.1306,0,0,0,0,0,0,...,322,322,322,322,322,322,322,322,322,322
50,Heilongjiang,China,47.8620,127.7615,0,0,0,0,0,0,...,934,934,934,934,934,934,934,934,934,934
51,Henan,China,33.8820,113.6140,0,0,0,0,0,0,...,1254,1254,1254,1254,1254,1254,1254,1254,1254,1254
52,Hong Kong,China,22.3000,114.2000,0,0,0,0,0,0,...,1048,1049,1049,1050,1051,1055,1060,1061,1067,1067
53,Hubei,China,30.9756,112.2707,28,28,31,32,42,45,...,63623,63623,63623,63623,63623,63623,63623,63623,63623,63623
54,Hunan,China,27.6104,111.7088,0,0,0,0,0,0,...,1015,1015,1015,1015,1015,1015,1015,1015,1015,1015
55,Inner Mongolia,China,44.0935,113.9448,0,0,0,0,0,0,...,213,218,226,230,230,231,232,232,232,234
56,Jiangsu,China,32.9711,119.4550,0,0,0,1,1,1,...,653,653,653,653,653,653,653,653,653,653
57,Jiangxi,China,27.6140,115.7221,0,0,0,0,0,2,...,931,931,931,931,931,931,931,931,931,931
58,Jilin,China,43.6661,126.1923,0,0,0,0,0,0,...,151,153,153,153,153,153,153,153,153,153
59,Liaoning,China,41.2956,122.6085,0,0,0,0,0,0,...,147,147,147,147,147,147,147,147,147,147
60,Macau,China,22.1667,113.5500,0,0,0,0,0,0,...,45,45,45,45,45,45,45,45,45,45
61,Ningxia,China,37.2692,106.1655,0,0,0,0,0,0,...,75,75,75,75,75,75,75,75,75,75
62,Qinghai,China,35.7452,95.9956,0,0,0,0,0,0,...,18,18,18,18,18,18,18,18,18,18
63,Shaanxi,China,35.1917,108.8701,0,0,0,0,0,0,...,305,305,305,305,306,306,306,306,306,306
64,Shandong,China,36.3427,118.1498,0,0,0,0,0,0,...,780,781,781,781,781,781,781,782,782,783
65,Shanghai,China,31.2020,121.4491,0,0,1,1,1,3,...,664,664,664,665,665,666,666,666,667,667
66,Shanxi,China,37.5777,112.2922,0,0,0,0,0,0,...,198,198,198,198,198,198,198,198,198,198
67,Sichuan,China,30.6171,102.7103,0,0,0,0,0,0,...,558,558,558,558,560,561,562,563,563,564
68,Tianjin,China,39.3054,117.3230,0,0,0,0,0,0,...,189,189,189,189,189,189,189,189,189,189
69,Tibet,China,31.6927,88.0924,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
70,Xinjiang,China,41.1129,85.2401,0,0,0,0,0,0,...,73,73,73,73,73,73,73,73,73,73
71,Yunnan,China,24.9740,101.4870,0,0,0,0,0,0,...,183,183,183,183,183,183,183,183,183,183
72,Zhejiang,China,29.1832,120.0934,0,0,1,1,1,1,...,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267

In [106]:
#Belli bir koşulu sağlayan değerlerin seçilmesi
data_deaths[data_deaths["Lat"]==27.6104]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
63,Hunan,China,27.6104,111.7088,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [107]:
# 6/15/20 tarihinde en çok iyileşen 5 ülke
data_recovered.sort_values('6/15/20', ascending=False).head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
225,NaN,US,37.0902,-95.7129,0,0,0,0,0,0,...,500849,506367,518522,524855,533504,540292,547386,556606,561816,576334
29,NaN,Brazil,-14.2350,-51.9253,0,0,0,0,0,0,...,277149,283952,378257,396737,413916,429965,445123,459436,469141,477709
184,NaN,Russia,60.0000,90.0000,0,0,0,0,0,0,...,220935,226272,230226,241917,252295,260649,268862,274128,279536,284021
125,NaN,India,21.0000,78.0000,0,0,0,0,0,0,...,118695,123848,129095,134670,135206,147195,154330,162379,169798,180013
131,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,165078,165837,166584,168646,169939,171338,173085,174865,176370,177010

In [108]:
#satır silmek
data_confirmed.drop(1) #1. index silindi

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
5,NaN,Antigua and Barbuda,17.060800,-61.796400,0,0,0,0,0,0,...,26,26,26,26,26,26,26,26,26,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [109]:
data_confirmed.tail(7) #son 7 satır

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
259,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,994,1317,1604,1604,1604,1670,1670,1693,1693,1693
260,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [132]:
#belirli satırları getirme
result=data_confirmed.iloc[25:30]
result['Country/Region']

25                    Bhutan
26                   Bolivia
27    Bosnia and Herzegovina
28                    Brazil
29                    Brunei
Name: Country/Region, dtype: object

In [111]:
#1/27/20 tarihinde değeri 0 dan büyük olan ve olmayanları bool olarak döndürme
data_deaths['1/27/20'] > 0

0      False
1      False
2      False
3      False
4      False
       ...
261    False
262    False
263    False
264    False
265    False
Name: 1/27/20, Length: 266, dtype: bool

In [131]:
#1/27/20 tarihinde değeri 0 dan büyük olan Eyaletleri getirme
result=data_deaths.loc[data_deaths['1/27/20'] >0 ]
result[['1/27/20', 'Province/State']]

    1/27/20 Province/State
50        1        Beijing
57        1         Hainan
58        1          Hebei
59        1   Heilongjiang
60        1          Henan
62       76          Hubei
74        1       Shanghai

In [113]:
#Turkiyedeki iyileşmiş hastaların tüm kolon bilgileri 
data_recovered[(data_recovered['Country/Region']=='Turkey')]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
213,NaN,Turkey,38.9637,35.2433,0,0,0,0,0,0,...,135322,137969,141380,144598,146839,147860,149102,150087,151417,152364

In [114]:
#6/13/20 tarihinde kaybedilen en yüksek sayı 
data_deaths['6/13/20'].max()

115436

In [95]:
#6/13/20 tarihinde kaybedilen hastaların ortalamasr 
data_deaths['6/13/20'].mean()

1616.718045112782

In [119]:
#Ülkesi Çin olan ve 6/13/20 tarihinde ortalamadan fazla kaybedilen hasta sayısı
result=data_deaths[(data_deaths['Country/Region']=='China') & (data_deaths['6/13/20']>data_deaths['6/13/20'].mean())]
result[['Country/Region', '6/13/20', 'Province/State']]

   Country/Region  6/13/20 Province/State
62          China     4512          Hubei

In [130]:
#4/12/20 ve 6/9/20 tarihinde 10.000 den fazla kurtarılmış hastalar ve ilgili ülkeler 
result=data_recovered[((data_recovered['4/12/20']>10000) & (data_recovered['6/9/20']>10000) ) ]
result[['Country/Region', '4/12/20', '6/9/20']]

    Country/Region  4/12/20  6/9/20
53           China    64281   63623
108         France    27186   68736
112        Germany    60300  170129
127           Iran    43894  138457
131          Italy    34211  168646
199          Spain    62391  150376
204    Switzerland    12700   28700
225             US    32988  524855

In [133]:
#inplace: kalıcı olarak atama yapar
data_confirmed.rename(columns={'Country/Region': 'Country'}, inplace=True)

In [135]:
data_confirmed.head(5) #ilk 5

,Province/State,Country,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142

In [138]:
#select_dtypes(): dataframe içindeki istenilen veri tipindeki sütunları kullanıcıya döndürür
data_deaths.select_dtypes(include="float64").head()

       Lat     Long
0  33.0000  65.0000
1  41.1533  20.1683
2  28.0339   1.6596
3  42.5063   1.5218
4 -11.2027  17.8739

In [140]:
#kopyalama işlemi
new_data=data_deaths.copy()
new_data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6

In [157]:
#6/8/20 tarihinde küçükten büyüğe doğru ölen hastaların ülke isimleri ve sayısı
result=new_data.sort_values('6/8/20', ascending=True) #küçükten büyüğe doğru
result[['Country/Region','6/8/20']]

     Country/Region  6/8/20
265         Lesotho       0
25           Bhutan       0
257  United Kingdom       0
111          France       0
108          France       0
..              ...     ...
116          France   29153
137           Italy   33964
28           Brazil   37134
223  United Kingdom   40597
225              US  111068

[266 rows x 2 columns]