In [2]:
import pandas as pd
import numpy as np
import pylab as pl

pylab modülü, Matplotlib çizimleri yapmak, veri görselleştirmek ve bilimsel hesaplamalar yapmak için gerekli olan temel modülleri içerir. pylab'ı kullanarak, matplotlib.pyplot modülünü ve NumPy'yi aynı anda içe aktarabilirsiniz.

- The ID field contains the patient identifiers.
- The characteristics of the cell samples from each patient are contained in fields Clump to Mit. The values are graded from 1 to 10, with 1 being the closest to benign.
- The Class field contains the diagnosis, as confirmed by separate medical procedures, as to whether the samples are benign (value = 2) or malignant (value = 4).

In [6]:
cell_df=pd.read_csv("Data/cell_samples.csv")
cell_df.sample(5)

,ID,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
242,1277018,2,1,1,1,2,1,3,1,1,2
610,736150,10,4,3,10,3,10,7,1,2,4
381,846423,10,6,3,6,4,10,7,8,4,4
447,1058849,5,1,1,1,2,1,1,1,1,2
25,1065726,5,2,3,4,2,7,3,6,1,4